<!-- -----------------footer---------------- -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-2" xmlns:th="http://wwww.thymeleaf.org">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom bg">
        <!-- Left -->
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="footer_mvt_policy pt-5">
        <div class="container text-center text-md-start">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <div class="logo_ft ">
                        <a class="" th:href="@{/home}">
                            <img th:src="@{|/images/Logo_Cinema.png|}" alt="logo">
                        </a>
                    </div>
                    <div class="d-flex flex-column gap-1 mt-4">
                        <div class="icon_connect d-flex align-items-center ps-5">
                            <!-- <a href="" class="ms-1 text-reset">
                                <i class="fa-brands fa-square-facebook fa-2xl" style="color: #1d407c;"></i>
                            </a>
                            <a href="" class="text-reset">
                                <i class="fa-brands fa-square-youtube fa-2xl" style="color: #ff0000;"></i>
                            </a> -->
                        </div>
                        <div class="hotline mt-3 mb-0">
                            <h6>Hotline: 0396632264</h6>
                        </div>
                        <div class="dk_bo_congthuong mt-2">
                            <img th:src="@{|/images/dkbocongthuong.png|}" alt="">
                        </div>

                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        MOVIETIME CINEMAS
                    </h6>
                    <p>
                        <a th:href="@{/home}" class="text-reset">MovieTime Gò Vấp, TP.HCM</a>
                    </p>
                    <p>
                        <a th:href="@{/home}" class="text-reset">MovieTime Huế</a>
                    </p>
                    <p>
                        <a th:href="@{/home}" class="text-reset">MovieTime Cần Thơ</a>
                    </p>
                    <p>
                        <a th:href="@{/home}" class="text-reset">MovieTime Bình Dương</a>
                    </p>
                    <!-- <p>
                        <a href="#!" class="text-reset">MovieTime Đà Lạc</a>
                    </p> -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">INFORMATION</h6>
                    <p>
                        <a th:href="@{/home/about-us}" class="text-reset">Services</a>
                    </p>
                    <p>
                        <a th:href="@{/home}" class="text-reset">C'New</a>
                    </p>
                    <p>
                        <a th:href="@{/home/question}" class="text-reset">FAQs</a>
                    </p>
                    <p>
                        <a th:href="@{/home/connect}" class="text-reset">Connect</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        POLICIES AND REGULATIONS
                    </h6>
                    <p>
                        <a th:href="@{/home/terms-conditions}" class="text-reset">Conditions of Website Use</a>
                    </p>
                    <p>
                        <a th:href="@{/home/terms-use}" class="text-reset">Terms of Use</a>
                    </p>
                    <p>
                        <a th:href="@{/home/payment-policy}" class="text-reset">Payment Policy</a>
                    </p>
                    <p>
                        <a th:href="@{/home/privacy-policy}" class="text-reset">Privacy Policy</a>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <section>
        <div class="footer_mvt_address">
            <p>
                CÔNG TY TNHH PHÁT HÀNH PHIM – RẠP CHIẾU PHIM MVT VIỆT NAM <br>
                ĐỊA CHỈ: QTSC 9 Building, Tô Ký, Tân Chánh Hiệp, Quận 12, Thành phố Hồ Chí Minh, Việt Nam <br>
                GIẤY CNĐKDN SỐ: 0312742744, ĐĂNG KÝ LẦN ĐẦU NGÀY 18/09/2023, ĐĂNG KÝ THAY ĐỔI LẦN THỨ 2 NGÀY 18/12/2023,
                CẤP BỞI SỞ KH&ĐT TP.HCM
            </p>
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="ft_end text-center p-4" style="background-color: rgb(255, 255, 255);">
        © 2023 MovieTime:
        <a class="text-reset fw-bold" th:href="@{/home}">MovieTime.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!------------------------------- End Footer-------------------------- -->



<!-- ---------------------------Back to top button-------------------- -->

<button type="button" class="btn btn-dark btn-floating btn-lg text-white rounded-5" id="btn-back-to-top">
    <i class="fa-solid fa-angle-up fa-xs" style="color: #ffffff;"></i>
</button>