<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"> </script>
    <script nomodule src="https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"> </script>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css'>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">



    <link rel="stylesheet" th:href="@{|/css/header.css|}">
    <link rel="stylesheet" th:href="@{|/css/home.css|}">
    <link rel="stylesheet" th:href="@{|/css/details.css|}">
    <link rel="stylesheet" th:href="@{|/css/footer.css|}">
    <link rel="stylesheet" th:href="@{|/css/infopage.css|}">


    <title>Policy | MovieTime</title>

</head>


<body ng-app="app" ng-controller="controller">

    <div th:replace="~{/navbar/navbar}"></div>



    <!-- ========================CHÍNH SÁCH BẢO MẬT TEXT===================== -->


    <section>
        <div class="container text">
            <h1>CHÍNH SÁCH BẢO MẬT THÔNG TIN CÁ NHÂN KHÁCH HÀNG</h1>
            <p>Việc bạn sử dụng website này đồng nghĩa với việc bạn đồng ý với những thỏa thuận dưới đây.</p>
            <p>Nếu bạn không đồng ý, xin vui lòng không sử dụng website.</p>
            <h2>1. Mục đích và phạm vi thu thập thông tin</h2>
            <p>
                1.1 Việc thu thập thông tin cá nhân được thực hiện trên cơ sở khách hàng tự khai báo để đăng ký thành
                viên MovieTime tại website www.movietime.com,
                tùy từng thời điểm, thông tin thu thập sẽ bao gồm nhưng không giới hạn ở:</p>
            <ul>
                <li>Thông tin cá nhân như: họ tên.</li>
                <li>Thông tin liên lạc như: số điện thoại di động, email</li>
            </ul>
            <p>1.2 Mục đích thu thập thông tin khách hàng bao gồm:</p>
            <ul>
                <li>(i) Cung cấp các dịch vụ, sản phẩm theo nhu cầu của khách hàng;</li>
                <li>(ii) Liên hệ xác nhận khi khách hàng đăng ký sử dụng dịch vụ, xác lập giao dịch trên website
                    www.movietime.com;</li>
                <li>(iii) Thực hiện việc quản lý website www.movietime.com, gửi thông tin cập nhật về website, các chương
                    trình khuyến mại, ưu đãi/tri ân tới khách hàng;</li>
                <li>(iv) Bảo đảm quyền lợi của khách hàng khi phát hiện các hành động giả mạo, phá hoại tài khoản, lừa
                    đảo khách hàng;</li>
                <li>(v) Liên lạc, hỗ trợ, giải quyết với khách hàng trong các trường hợp đặc biệt.</li>
            </ul>
            <p>
                1.3 Để tránh nghi ngờ, trong quá trình giao dịch thanh toán tại website www.movietime.com,
                MovieTime chỉ lưu giữ thông tin chi tiết về đơn hàng đã thanh toán của khách hàng, các thông tin về tài
                khoản ngân hàng của khách hàng sẽ không được lưu giữ.</p>
            <h2>2. Phạm vi sử dụng thông tin</h2>
            <p>2.1 MovieTime chỉ sử dụng thông tin cá nhân của khách hàng cho các mục đích quy định tại Mục 1 hoặc mục đích
                khác (nếu có) với điều kiện đã thông báo và được sự đồng ý của khách hàng.</p>
            <p>2.2 MovieTime sẽ không sử dụng thông tin cá nhân của khách hàng để gửi quảng cáo, giới thiệu dịch vụ và các
                thông tin có tính thương mại khác khi chưa được khách hàng chấp thuận.</p>
            <p>2.3 Khách hàng hiểu và đồng ý rằng MovieTime có nghĩa vụ phải cung cấp thông tin khách hàng theo yêu
                cầu/quyết định của Cơ quan nhà nước có thẩm quyền và/hoặc quy định pháp luật. MovieTime sẽ được miễn trừ
                mọi trách nhiệm liên quan đến bảo mật thông tin trong trường hợp này.</p>
            <h2>3. Thời gian lưu trữ thông tin</h2>
            <p>Dữ liệu cá nhân cơ bản của khách hàng đăng ký thành viên MovieTime sẽ được lưu trữ cho đến khi có yêu cầu
                hủy bỏ hoặc tự thành viên đăng nhập và
                thực hiện đóng tài khoản. Đối với các tài khoản đã đóng chúng tôi vẫn lưu trữ thông tin cá nhân và truy
                cập của khách hàng để phục vụ cho mục đích
                phòng chống gian lận, điều tra, giải đáp thắc mắc ... Các thông tin này sẽ được lưu trữ trong hệ thống
                máy chủ tối đa mười hai (12) tháng.
                Hết thời hạn này, MovieTime sẽ tiến hành xóa vĩnh viễn thông tin cá nhân của khách hàng.</p>
            <h2>4. MovieTime cam kết</h2>
            <p>4.1 Mọi thông tin cá nhân của khách hàng thu thập được từ website www.movietime.com sẽ được lưu giữ an toàn;
                chỉ có khách hàng mới có thể truy cập vào tài khoản cá nhân của mình bằng tên đăng nhập và mật khẩu do
                khách hàng chọn.</p>
            <p>4.2 MovieTime cam kết bảo mật thông tin, không chia sẻ, tiết lộ, chuyển giao thông tin cá nhân của khách
                hàng, thông tin giao dịch trực tuyến trên website www.movietime.com cho bất kỳ bên thứ ba nào khi chưa được
                sự đồng ý của khách hàng, trừ trường hợp phải thực hiện theo yêu cầu của các cơ quan Nhà nước có thẩm
                quyền, hoặc theo quy định của pháp luật hoặc việc cung cấp thông tin đó là cần thiết để MovieTime cung cấp
                dịch vụ/ tiện ích cho khách hàng</p>
            <p>4.3 MovieTime, bằng nỗ lực tốt nhất của mình, sẽ áp dụng các giải pháp công nghệ để ngăn chặn các hành vi
                đánh cắp hoặc tiếp cận thông tin trái phép; sử dụng, thay đổi hoặc phá hủy thông tin trái phép. Tuy
                nhiên, MovieTime không thể cam kết sẽ ngăn chặn được tất cả các hành vi xâm phạm, sử dụng thông tin cá nhân
                trái phép nằm ngoài khả năng kiểm soát của MovieTime. MovieTime sẽ không chịu trách nhiệm dưới bất kỳ hình
                thức nào đối với bất kỳ khiếu nại, tranh chấp hoặc thiệt hại nào phát sinh từ hoặc liên quan đến việc
                truy cập, xâm nhập, sử dụng thông tin trái phép như vậy.</p>
            <p>4.4 Trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân, gây ảnh
                hưởng xấu đến khách hàng, MovieTime sẽ ngay lập tức thông báo cho khách hàng và trình vụ việc cho cơ quan
                chức năng điều tra xử lý.</p>
            <p>4.5 Đối với các giao dịch trực tuyến được thực hiện thông qua website www.movietime.com, MovieTime không lưu
                trữ thông tin thẻ thanh toán của khách hàng. Thông tin tài khoản, thẻ thanh toán của khách hàng sẽ được
                các đối tác cổng thanh toán của MovieTime bảo vệ theo tiêu chuẩn quốc tế.</p>
            <p>4.6 Khách hàng có nghĩa vụ bảo mật tên đăng ký, mật khẩu và hộp thư điện tử của mình. MovieTime sẽ không
                chịu trách nhiệm dưới bất kỳ hình thức nào đối với các thiệt hại, tổn thất (nếu có) do khách hàng không
                tuân thủ quy định bảo mật này.</p>
            <p>4.7 Khách hàng tuyệt đối không được có các hành vi sử dụng công cụ, chương trình để can thiệp trái phép
                vào hệ thống hay làm thay dổi dữ liệu của MovieTime. Trong trường hợp MovieTime phát hiện khách hàng có hành
                vi cố tình giả mạo, gian lận, phát tán thông tin cá nhân trái phép … MovieTime có quyền chuyển thông tin cá
                nhân của khách hàng cho các cơ quan có thẩm quyền để xử lý theo quy định của pháp luật.</p>

        </div>
    </section>


    <!-- ========================END CHÍNH SÁCH BẢO MẬT TEXT===================== -->



    <div th:replace="~{/navbar/_footer}"></div>

    <!-- js -->

    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/layout/main.js}"></script>
</body>

</html>