<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"> </script>
    <script nomodule src="https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"> </script>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css'>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">



    <link rel="stylesheet" th:href="@{|/css/header.css|}">
    <link rel="stylesheet" th:href="@{|/css/home.css|}">
    <link rel="stylesheet" th:href="@{|/css/details.css|}">
    <link rel="stylesheet" th:href="@{|/css/footer.css|}">
    <link rel="stylesheet" th:href="@{|/css/infopage.css|}">

    <title>Policy | MovieTime</title>

</head>


<body ng-app="app" ng-controller="controller">

    <div th:replace="~{/navbar/navbar}"></div>



    <!-- ========================ĐIỀU KHOẢNG CHUNG TEXT===================== -->


    <section>
        <div class="container text">
            <h1>ĐIỀU KHOẢN CHUNG</h1>
            <p>Việc bạn sử dụng website này đồng nghĩa với việc bạn đồng ý với những thỏa thuận dưới đây.</p>
            <p>Nếu bạn không đồng ý, xin vui lòng không sử dụng website.</p>
            <h2>1. Trách nhiệm của người sử dụng:</h2>
            <p>
                Khi truy cập vào trang web này, bạn đồng ý chấp nhận mọi rủi ro.
                MovieTime và các bên đối tác khác không chịu trách nhiệm về bất kỳ tổn thất nào do những hậu quả trực tiếp,
                tình cờ hay gián tiếp; những thất thoát, chi phí (bao gồm chi phí pháp lý, chi phí tư vấn hoặc các khoản
                chi tiêu khác)
                có thể phát sinh trực tiếp hoặc gián tiếp do việc truy cập trang web hoặc khi tải dữ liệu về máy;
                những tổn hại gặp phải do virus, hành động phá hoại trực tiếp hay gián tiếp của hệ thống máy tính khác,
                đường dây điện thoại, phần cứng, phần mềm, lỗi chương trình, hoặc bất kì các lỗi nào khác;
                đường truyền dẫn của máy tính hoặc nối kết mạng bị chậm…</p>
            <h2>2. Về nội dung trên trang web:</h2>
            <p>
                Tất cả những thông tin ở đây được cung cấp cho bạn một cách trung thực như bản thân sự việc.
                MovieTime và các bên liên quan không bảo đảm, hay có bất kỳ tuyên bố nào liên quan đến tính chính xác,
                tin cậy của việc sử dụng hay kết quả của việc sử dụng nội dung trên trang web này.
                Nội dung trên website được cung cấp vì lợi ích của cộng đồng và có tính phi thương mại.
                Các cá nhân và tổ chức không được phép sử dụng nội dung trên website này với mục đích thương mại mà
                không có sự ưng thuận của
                MovieTime bằng văn bản. Mặc dù MovieTime luôn cố gắng cập nhật thường xuyên các nội dung tại trang web, nhưng
                chúng tôi không bảo đảm
                rằng các thông tin đó là mới nhất, chính xác hay đầy đủ. Tất cả các nội dung website có thể được thay
                đổi bất kỳ lúc nào.
            </p>
            <h2>3. Về bản quyền:</h2>
            <p>
                MovieTime là chủ bản quyền của trang web này. Việc chỉnh sửa trang, nội dung, và sắp xếp thuộc về thẩm
                quyền của MovieTime.
                Sự chỉnh sửa, thay đổi, phân phối hoặc tái sử dụng những nội dung trong trang này vì bất kì mục đích nào
                khác được
                xem như vi phạm quyền lợi hợp pháp của MovieTime.
            </p>
            <h2>4. Về việc sử dụng thông tin:</h2>
            <p>
                Chúng tôi sẽ không sử dụng thông tin cá nhân của bạn trên website này nếu không được phép. Nếu bạn đồng
                ý cung cấp thông tin cá nhân, bạn sẽ được bảo vệ.
                Thông tin của bạn sẽ được sử dụng với mục đích, liên lạc với bạn để thông báo các thông tin cập nhật của
                MovieTime như lịch chiếu phim,
                khuyến mại qua email hoặc bưu điện. Thông tin cá nhân của bạn sẽ không được gửi cho bất kỳ ai sử dụng
                ngoài trang web MovieTime,
                ngoại trừ những mở rộng cần thiết để bạn có thể tham gia vào trang web (những nhà cung cấp dịch vụ, đối
                tác, các công ty quảng cáo) và
                yêu cầu cung cấp bởi luật pháp. Nếu chúng tôi chia sẻ thông tin cá nhân của bạn cho các nhà cung cấp
                dịch vụ, công ty quảng cáo, các công ty đối tác liên quan,
                thì chúng tôi cũng yêu cầu họ bảo vệ thông tin cá nhân của bạn như cách chúng tôi thực hiện.</p>
            <h2>5. Vể việc tải dữ liệu:</h2>
            <p>
                Nếu bạn tải về máy những phần mềm từ trang này, thì phần mềm và các dữ liệu tải sẽ thuộc bản quyền của
                MovieTime và cho phép bạn sử dụng.
                Bạn không được sở hữu những phầm mềm đã tải và MovieTime không nhượng quyền cho bạn.
                Bạn cũng không được phép bán, phân phối lại, hay bẻ khóa phần mềm…
            </p>
            <h2>6. Thay đổi nội dung:</h2>
            <p>MovieTime giữ quyền thay đổi, chỉnh sửa và loại bỏ những thông tin hợp pháp vào bất kỳ thời điểm nào vì bất
                kỳ lý do nào.</p>
            <h2>7. Liên kết với các trang khác:</h2>
            <p>
                Mặc dù trang web này có thể được liên kết với những trang khác, MovieTime không trực tiếp hoặc gián tiếp
                tán thành, tổ chức, tài trợ,
                đứng sau hoặc sát nhập với những trang đó, trừ phi điều này được nêu ra rõ ràng. Khi truy cập vào trang
                web bạn phải hiểu và chấp nhận rằng
                MovieTime không thể kiểm soát tất cả những trang liên kết với trang MovieTime và cũng không chịu trách nhiệm
                cho nội dung của những trang liên kết.</p>
            <h2>8. Đưa thông tin lên trang web:</h2>
            <p>
                Bạn không được đưa lên, hoặc chuyển tải lên trang web tất cả những hình ảnh, từ ngữ khiêu dâm, thô tục,
                xúc phạm,
                phỉ báng, bôi nhọ, đe dọa, những thông tin không hợp pháp hoặc những thông tin có thể đưa đến việc vi
                phạm pháp luật,
                trách nhiệm pháp lý. MovieTime và tất cả các bên có liên quan đến việc xây dựng và quản lý trang web không
                chịu trách nhiệm hoặc
                có nghĩa vụ pháp lý đối với những phát sinh từ nội dung do bạn tải lên trang web.</p>
            <h2>9. Luật áp dụng:</h2>
            <p>
                Mọi hoạt động phát sinh từ trang web có thể sẽ được phân tích và đánh giá theo luật pháp Việt Nam và toà
                án Tp. Hồ Chí Minh.
                Và bạn phải đồng ý tuân theo các điều khoản riêng của các toà án này.</p>
        </div>
    </section>


    <!-- ========================END ĐIỀU KHOẢNG CHUNG TEXT===================== -->



    <div th:replace="~{/navbar/_footer}"></div>

    <!-- js -->

    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/layout/main.js}"></script>
</body>

</html>