<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css'>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--     <link href="https://fontawesome.com/icons/right-from-bracket?f=classic&s=solid" rel="stylesheet"> -->

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" th:href="@{|/js/plugins/fontawesome-free/css/all.min.css|}">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{|/css/dist/css/adminlte.min.css|}">

    <link rel="stylesheet" th:href="@{|/css/admin.css|}">

    <title>Admin | MovieTime</title>

</head>

<body class="hold-transition sidebar-mini" ng-app="app" ng-controller="controller">

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a th:href="@{/home}" class="nav-link">Home</a>
                </li>
                <!-- <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Services</a>
                </li> -->
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <!-- <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                    aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li> -->
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-white-primary elevation-3 position-fixed">
            <!-- Brand Logo -->
            <a th:href="@{/home}" class="brand_logo brand-link d-flex justify-content-center">
                <img th:src="@{|/images/Logo_Cinema.png|}" alt="MovieTime Logo" class="brand-image">
                <!-- <span class="brand-text font-weight-light">MovieTime</span> -->
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img ng-src="https://res.cloudinary.com/dgxlsc5tu/image/upload/v1702434593/{{avt.avatar}}.jpg"
                            ng-if="avt.avatar" alt="Avatar" class="img-circle elevation-2" style="height: 2.1rem;">
                        <img ng-src="/images/no-avatar.png" ng-if="!avt.avatar" alt="No Avatar" class="img-circle elevation-2">
                    </div>
                    <div class="info" id="user">
                        <a th:href="@{/user/profile}" id="name_user" th:text="${#authentication.name}"></a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <!-- <div class="form-inline search_slidebar">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div> -->

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a th:href="@{/home/admin}" class="nav-link active">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Statistics
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Manager
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/home/movie}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Manage Movie</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/home/customer}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Manage user</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/home/cinema}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Manage cinema</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/home/room}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Manage room</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/home/seat}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Manage seat</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/home/movie_scheduled}" class="nav-link">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    Movie schedule
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/home/voucher}" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Voucher
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/home/bill}" class="nav-link">
                                <i class=" nav-icon fa-solid fa-file-invoice-dollar"></i>
                                <p>
                                    Bill
                                </p>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Tables
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="pages/tables/simple.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Simple Tables</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/tables/data.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>DataTables</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/tables/jsgrid.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>jsGrid</p>
                                    </a>
                                </li>
                            </ul>
                        </li> -->


                        <li class="nav-header">ACCOUNT</li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>Level 1</p>
                            </a>
                        </li> -->
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Statistics</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a th:href="@{/home/admin}">Home</a></li>
                                <li class="breadcrumb-item active">Statistics</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">Total daily revenue</h3>

                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="radio-button-container">
                                        <h5>Status:</h5>
                                        <div class="radio-button">
                                            <input type="radio" class="radio-button__input" id="all"
                                                ng-model="selectedStatus" value="all" ng-change="updateChart()">
                                            <label class="radio-button__label" for="all">
                                                <span class="radio-button__custom"></span>
                                                All
                                            </label>
                                        </div>
                                        <div class="radio-button">
                                            <input type="radio" class="radio-button__input" id="success"
                                                ng-model="selectedStatus" value="success" ng-change="updateChart()">
                                            <label class="radio-button__label" for="success">
                                                <span class="radio-button__custom"></span>
                                                Success
                                            </label>
                                        </div>
                                        <div class="radio-button">
                                            <input type="radio" class="radio-button__input" id="failed"
                                                ng-model="selectedStatus" value="failed" ng-change="updateChart()">
                                            <label class="radio-button__label" for="failed">
                                                <span class="radio-button__custom"></span>
                                                Failed
                                            </label>
                                        </div>
                                    </div>


                                    <!-- /.d-flex -->

                                    <div class="position-relative mb-4">
                                        <canvas id="myChart" width="200" height="100"></canvas>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">

                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">Cinema booking rate</h3>

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex">

                                    </div>
                                    <!-- /.d-flex -->

                                    <div class="position-relative mb-4">
                                        <canvas id="myPieChart" width="50px" height="50px"></canvas>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">

                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col-md-6 -->

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">Total revenue by movie</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex">

                                    </div>
                                    <!-- /.d-flex -->

                                    <div class="position-relative mb-4">
                                        <canvas id="revenueChart" width="400" height="200"
                                            chartjs="chartConfig"></canvas>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">

                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>


                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>© 2023 MovieTime: <a href="https://adminlte.io">MovieTime.com</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.4.0
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    <script th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/js/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- AdminLTE -->
    <script th:src="@{/css/dist/js/adminlte.js}"></script>


    <!-- OPTIONAL SCRIPTS -->

    <script th:src="@{/js/chart.js}"></script>

    <!-- <script th:src="@{/js/plugins/chart.js/Chart.min.js}"></script> -->
    <!-- AdminLTE for demo purposes -->
    <script th:src="@{/css/dist/js/demo.js}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- <script th:src="@{/css/dist/js/pages/dashboard3.js}"></script> -->

</body>

</html>